<p>Please complete all of the steps on this page:</p>
<ul>
  <li>Start PHQ screener</li>
</ul>
<%= form_for(:check_in, url: check_in_path, method: :put, id: 1) do |f| %>
  <%= f.submit "Complete check in" %>
<% end %>
