<p>Please complete all of the steps on this page:</p>
<%= button_to "Add new Screening type and Questions" %>
<ul>
<% Question.screening.each do |question|%>
    <li><%= link_to "Start PHQ screener for #{question.question_type}" %></li>
<% end %>
</ul>