<p>Please complete all of the steps on this page:</p>
<%= button_to "Add new Screening type and Questions",new_check_in_screening_question_path(1,3), method: :get %>
<ul>
<% Question.screening.each do |question|%>
    <li><%= link_to "Start PHQ screener for #{question.question_type}" ,check_in_screening_path(Screening.last.id, question_type: question.question_type)%></li>
<% end %>
</ul>