<p>Please complete all of the steps on this page:</p>
<%= link_to "Start PHQ screener{Depression}", "/check_ins/#{@check_in.id}/screenings/1" %>

<%= link_to "Start PHQ screener{Fever/Cold}", "/check_ins/#{@check_in.id}/screenings/1" %>